<style>

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}


 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
  .container {
    
    top : 50%;
    left : 50%;

    position: absolute;
    transform : translate(-50%, -50%);
    font-family:'Courier New', Courier, monospace;
  }
</style>

<div class="container">
  <div class="floating">
    <h1>YANAWUT POMKAEW</h1>
</div>
</div>

<router-outlet></router-outlet>